.App {
  text-align: center;
  display: flex;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.joinGameHeader {
    background-color: white;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.joinGameButton {
    background-color: #fe6847;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.gameCodeInput {
    width: 200px;
    padding: 10px;
    border: 2px solid #fe6847;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;

}

.gameOverScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75); /* Dim background */
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  text-align: center;
}

.gameSide, .scoreSide {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameSide {
  background-color: #457eac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.scoreSide {
  background-color: #2d5d7b;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scoreContainer {
  display: flex;
  height: 90%;
  width: 90%;
}

.scoreColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fbb13c;
  margin: 10px;
  height: 100%;
}

.scoreTitle {
  padding-top: 0;
  width: 100%;
  font-size: 24px;
  background-color: #fe6847;
}

.rolledScore {
  flex: 7;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(7, 1fr);    /* 7 rows */
  gap: 5px; /* optional spacing */
  padding: 10px;
}

.rollCell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid #fe6847;
  border-radius: 5px;
  gap: 6px;
  transition: background-color 0.2s ease;
}

.rollCell.clicked {
  background-color: #fe6847;
}

.totalPoints {
  width: 100%;
  display: flex;
  background-color: #fe6847;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  padding: 10px;
}

.diceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width:100%;
  gap: 10px;
}

.dice {
  background-color: #ffffff;
  aspect-ratio: 1 / 1;
  width: 100%;
  min-height: 60px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid #fe6847;
}

.dice.locked {
  border: 6px solid #2d5d7b;
  transform: scale(0.95);
}

.rollButton {
    background-color: #fe6847;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}